@media only screen and (max-width: 767px) {

    .inner-nav {
        padding: 0 !important;
    }

    .mobile-on .desktop-nav ul li a {
        padding: 20px 16px !important;
    }

    #left-nav {
        margin-left: 0 !important;
    }

    #right-nav {
        display: none !important;
    }

    .split-column-left, .split-column-right {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .hs-title-9 {
        font-size: 36px !important;
    }

    .narrow-text {
        letter-spacing: -0.33rem;
    }

    .split-column-right {
        padding-left: 0 !important;
        min-height: 48vh;
    }

    .split-column-right-short {
        min-height: 48vh;
    }

    #cloud-03-01 {
        left: 50%;
        bottom: 5vh;
    }

    #sun-and-cloud {
        left: 0;
        top: 0;
        z-index: 100;
    }

    #cloud-01-02 {
        left: 10%;
        top: -12vh;
        z-index: 100;
    }

    #sun-01 {
        left: 50%;
        top: -20vh;
        z-index: 99;
    }

    .py-none-sm {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    #slum-to-school-bg {
        background-position: 67% 67% !important;
        min-height: 80vh;
    }

    .swiper-slide {
        padding: 0 !important;
    }

    .padding-top-12rem {
        padding-top: 4rem !important;
    }

    #meadow {
        min-height: 50vh;
    }

    #home-video {
        width: 100%;
        height: 100vw;
    }

    #sun-02 {
        width: 0 !important;
    }

    #grass {
        width: 75vw;
        bottom: 0;
        right: 0;
    }

    #star-01 {
        left: 30%;
        top: -12vh;
        z-index: 100;
    }

    #home-video {
        width: 100%;
        max-height: 50vh;
    }

    #iceberg-of-hardship-bg {
        background-position: 54% 100% !important;
        min-height: 67vh;
    }

    .split-column-right-short-alt {
        min-height: 60vh;
    }

    #cloud-04-02 {
        width: 0 !important;
    }

    #blink-01 {
        left: 33%;
        top: 10vh;
    }

    #blink-02 {
        left: 48%;
        top: 15vh;
    }

    #blink-03 {
        left: 84%;
        top: 5vh;
    }

    #blink-04 {
        left: 72%;
        top: 54vh;
    }

    .change-blue-box-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .change-blue-box {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #shooting-star {
        width: 0 !important;
    }

    .down-arrow {
        max-width: 72px !important;
    }

    #impact-star-01 {
        left: 30%;
        top: -12vh;
        z-index: 100;
    }

    #impact-progress {
        min-height: 72vw;
    }

    #cloud-02-02 {
        left: -10%;
        top: 0;
        z-index: 100;
    }

    #vision-row {
        min-height: 48vh;
    }

    .vision-column {
        min-height: 72px;
    }

    .mission-column {
        min-height: 120px;
    }

    .justify-content-md-center {
        justify-content: center !important;
    }

    #mission {
        min-height: 48vh;
    }

    #cloud-03-02 {
        left: 10%;
        top: 0;
        z-index: 100;
    }

    #sun-vision {
        right: 10%;
        top: 25%;
        z-index: 100;
    }

    #cloud-05-02 {
        left: 10%;
        bottom: -90px;
        z-index: 100;
    }

    #blink-05 {
        left: 8%;
        top: 4vh;
    }

    #blink-06 {
        left: 20%;
        top: 16vh;
    }

    #blink-07 {
        left: 60%;
        top: 8vh;
    }

    #blink-08 {
        left: 80%;
        top: 5vh;
    }

    #blink-09 {
        left: 20%;
        bottom: 18vh;
    }

    #blink-10 {
        left: 72%;
        bottom: 12vh;
    }

    #shooting-star-mission {
        width: 0 !important;
    }

    #cloud-01-03 {
        width: 0 !important;
    }

    .section-pt-auto {
        padding-top: 48px !important;
    }

    .section-pb-auto {
        padding-bottom: 48px !important;
    }

    .section-py-auto {
        padding-top: 48px !important;
        padding-bottom: 48px !important;
    }

    .swiper-wrapper {
        padding-bottom: 40px !important;
    }

    .swiper-wrapper.swiper-pagination {
        bottom: 1rem !important;
    }
}